<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <!--    Определение драйвера для БД-->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>

        <!--    Сессия для связи с БД будет привязана к треду,в котором создается сессия-->
<!--        <property name="current_session_context_class">thread</property>-->

        <!--    Определение диалекта БД-->
<!--        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>-->
        <property name="hibernate.dialect">org.hibernate.dialect.MariaDBDialect</property>

        <!--    Отображение SQL запросов в консоли-->
        <property name="show_sql">true</property>

        <!--    Автоматическое создание таблиц в БД-->
        <property name="hibernate.hbm2ddl.auto">update</property>

<!--        Описание entity-->
        <mapping class="com.fillswim.spring.Ch3_Hibernate.H1_SaveAndLoad.Entity.Employee"/>

<!--        <mapping class="com.fillswim.spring.Ch3_Hibernate.H2_OneToOne_UniDirectional.Entity.Employee"/>-->
<!--        <mapping class="com.fillswim.spring.Ch3_Hibernate.H2_OneToOne_UniDirectional.Entity.Detail"/>-->

<!--        <mapping class="com.fillswim.spring.Ch3_Hibernate.H3_OneToOne_BiDirectional.Entity.Employee"/>-->
<!--        <mapping class="com.fillswim.spring.Ch3_Hibernate.H3_OneToOne_BiDirectional.Entity.Detail"/>-->

<!--        <mapping class="com.fillswim.spring.Ch3_Hibernate.H4_OneToMany_UniDirectional.Entity.Employee"/>-->
<!--        <mapping class="com.fillswim.spring.Ch3_Hibernate.H4_OneToMany_UniDirectional.Entity.Department"/>-->

<!--        <mapping class="com.fillswim.spring.Ch3_Hibernate.H5_OneToMany_BiDirectional.Entity.Employee"/>-->
<!--        <mapping class="com.fillswim.spring.Ch3_Hibernate.H5_OneToMany_BiDirectional.Entity.Department"/>-->

<!--        <mapping class="com.fillswim.spring.Ch3_Hibernate.H6_ManyToMany.Entity.Child"/>-->
<!--        <mapping class="com.fillswim.spring.Ch3_Hibernate.H6_ManyToMany.Entity.Section"/>-->

    </session-factory>
</hibernate-configuration>